@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --dark-blue: #2A324B;
    --blue: #58699D;
    --light-blue: #e1e5ee;
    --white: #fff; 

    --font: "Montserrat", sans-serif;
    --font-size-h2: 18px;
    --font-size-article: 24px;
}

body {
    background-color: var(--light-blue);
    font-family: var(--font);
}

#container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header
}

main {
    grid-area: main;
}

#container ul {
    width: fit-content;
    margin: 0 auto;
}

#categoryList h2 {
    display: flex;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    background-color: var(--dark-blue);
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    font-size: var(--font-size-h2);  
}

.category {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    list-style: none;
    padding: 0;
}

#categoryList h2:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

#article {
    width: fit-content;
    margin: 1rem;
    background-color: var(--white);
    padding: 1rem;
}

#article h2 {
    font-size: var(--font-size-article);
    font-weight: 700;
    margin: 1rem 0;
}

footer {
    grid-area: footer;
}

@media only screen and (min-width: 600px) {
    #container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .category {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
    }

    #categoryList h2 {
        display: flex;
        padding: 1.5rem 4rem;
        margin: 1rem 0;
        font-weight: 700;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40vw;
        
    } 
}