@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --dark-blue: #2A324B;
    --blue: #58699D;
    --light-blue: #e1e5ee;
    --white: #fff; 

    --font: "Montserrat", sans-serif;
    --font-size-button: 18px;
    --font-size-h2: 22px;
    --font-size-p-li: 20px;
}

body {
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: var(--light-blue);
    font-family: var(--font);
}

main {
    background-color: var(--white);
    padding: 2rem;
    margin: 2rem;
    margin-top: 0;
}

button {
    display: flex;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
    background-color: var(--dark-blue);
    padding: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    justify-content: center;
    font-size: var(--font-size-button);  
}

button:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

button.active {
    background-color: var(--white);
    color: var(--dark-blue);
}

nav ul {
    margin: 0 auto;
    width: 100%;        
    padding: 2rem;
    text-align: center;
    list-style: none;
}

main li a {
    color: var(--blue);
    font-size: var(--font-size-li);
}

h2 {
    font-size: var(--font-size-h2);
    color: var(--dark-blue);
}


@media only screen and (min-width: 500px) {

    nav {
        display: flex;
        padding: 7rem;
        padding-bottom: 0;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;  
        width: 100%; 
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    button{
        padding: 1.5rem 4rem;
        margin: auto;
    }

    main {
        display: block;
        width: 84%;
        margin-right: auto;
        margin-left: auto;
        padding: 4rem;
    }
}

/*Fikk ikke til å få alt innholdet helt sentrert i desktop, slik det er vist i skissen.