@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --dark-blue: #2A324B;
    --blue: #58699D;
    --light-blue: #e1e5ee;
    --white: #fff; 

    --font: "Montserrat", sans-serif;
    --font-size-button: 18px;
    --font-size-article: 22px;
    --font-size-p: 16px;
    --font-size-li: 16px;
}

body {
    background-color: var(--light-blue);
    font-family: var(--font);
}

main section{
    margin: 1rem;
}

button {
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-size-button);
    font-weight: 700;
    padding: 2rem;
    margin: 0;
    width: 100%;
}

button:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

article {
    background-color: var(--white);
    padding: 1rem;
}

article li a {
    color: var(--blue);
    font-size: var(--font-size-li);
}

section h3 {
    font-size: var(--font-size-article);
    font-weight: 700;
    margin: 0;
}

section p {
    font-size: var(--font-size-p);
}

.hidden {
    display: none;
}

@media only screen and (min-width: 600px) {

    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    section button {
        display: flex;
        justify-content: center;
        width: fit-content;
    }

    main section button {
        display: flex;
        flex-wrap: wrap;
    }

    article {
        padding: 2rem;
    }
    

}